{% extends "base.html" %}

{% block body %}
<!--Need to link button-->
<!--<br>-->
<!--<div class="container-fluid">-->
<!--      <a href="{% url 'new' %}" class="btn btn-secondary btn-sm btn-pad" role="button">New Item</a>-->
<!--</div>-->

<br>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Activity</th>
    </tr>
    </thead>

    <tbody>

    {% for task in tasks %}

<!--    <tr data-href="{% url 'detail' work_orders.jobs %}">-->
    <tr>
        <td>{{ task.jobid }}</td>
        <td>{{ task.partsrequired }}</td>
        <td>{{ task.partsproduced }}</td>
    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}