{% extends 'base.html'%}

{% load crispy_forms_tags %}

{% block body%}

<br>

<div class="row justify-content-between">
    <div class="col-8">
        <table class="table table-hover">
            <tbody>
            {% for required_instance in required %}
            <tr data-href="{% url 'detail' required_instance.partsrequired.id %}">
                <td>{{ required_instance.partsrequired.partnumber }}</td>
                <td>{{ required_instance.partsrequired.description }}</td>
                <td>{{ required_instance.quantityrequired }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <form method="POST">
        <br>
        {% csrf_token %}
        {% crispy RequiredPartForm %}
    </form>
</div>

{% endblock %}