{% extends 'base.html'%}

{% load crispy_forms_tags %}

{% block body %}

<div class="container-fluid">
    <form method="POST">
        <br>
        {% csrf_token %}
        {% crispy jobForm %}
    </form>
</div>

<br>
<div class="row justify-content-between">
    <div class="col-8">
        <table class="table table-hover">

            <tbody>
            {% for required_instance in required %}
    <tr>
        <td>{{ required_instance }}</td>
    </tr>
    {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'addrequired' jobid=jobid %}" class="btn btn-secondary btn-sm btn-pad" role="button">New Item</a>
    </div>
</div>

{% endblock %}