<ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Inventory</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'inventory' %}">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">{{user.username|title}}</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'register.html' %}">Register</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
             </li>
        {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>