{% extends 'base.html'%}

{% load crispy_forms_tags %}

{% block body%}

<div class="container">
    <form method="POST">
        <br>
        {% csrf_token %}
        {% crispy form %}

<!--        <div class="form-row">-->
<!--            <div class="col-8">-->
<!--                <label for="{{ form.partnumber }}input">Part Number</label>-->
<!--                <input class="form-control" id="{{ form.partnumber }}input" placeholder="{{ form.partnumber }}" type="text">-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--                <label for="{{ form.location }}input">Location</label>-->
<!--                <input type="text" class="form-control" id="{{ form.location }}input" placeholder="{{ form.location }}">-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="form-group">-->
<!--            <label for="{{ form.description }}input">Description</label>-->
<!--            <input type="text" class="form-control" id="{{ form.description }}input" placeholder="{{ form.description }}">-->
<!--        </div>-->

<!--        <div class="form-row">-->
<!--            <div class="col-8">-->
<!--                <label for="{{ form.supplier }}input">Supplier</label>-->
<!--                <input class="form-control" id="{{ form.supplier }}input" placeholder="{{ form.supplier }}" type="text">-->
<!--            </div>-->
<!--            <div class="col-4">-->
<!--                <label for="{{ form.stockonhand }}input">Stock on Hand</label>-->
<!--                <input type="text" class="form-control" id="{{ form.stockonhand }}input" placeholder="{{ form.stockonhand }}">-->
<!--            </div>-->
<!--        </div>-->




<!--    {% for field in form %}-->
<!--    <div class="form-group row">-->
<!--        <br>-->
<!--        <br>-->
<!--        <label form="{{ part.partnumber }}" class="col-2 col-form-label"> {{ part.partnumber }}</label>-->
<!--        <div class="col-10">-->
<!--            {{ field }}-->
<!--        </div>-->
<!--    </div>-->
<!--        {% endfor %}-->
<br>
        <button type="submit" class="btn btn-primary" name="savebutton">Save</button>

    </form>
</div>

{% endblock %}