{% extends "base.html" %}

{% block body %}

<br>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Part Number</th>
        <th>Description</th>
        <th>Location</th>
        <th>Supplier</th>
        <th>S.O.H</th>
    </tr>
    </thead>

    <tbody>

    {% for part in parts %}

    <tr><a href="/detail/{{ partslist.partnumber }}/">{{ partslist.partnumber }}</a>
        <td>{{ part.pk }}</td>
        <td>{{ part.partnumber }}</td>
        <td>{{ part.description }}</td>
        <td>{{ part.location }}</td>
        <td>{{ part.supplier }}</td>
        <td>{{ part.stockonhand }}</td>
    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}