{% extends "base.html" %}

{% block body %}

<br>
<div class="container-fluid">
      <a href="{% url 'new' %}" class="btn btn-secondary btn-sm btn-pad" role="button">New Item</a>
</div>

<br>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Part Number</th>
        <th>Description</th>
        <th>Location</th>
        <th>Supplier</th>
        <th>S.O.H</th>
    </tr>
    </thead>

    <tbody>

    {% for part in parts %}
    <!-- need to make these table rows link to their respective parts
    class="table_row" href="{{ selected_part.partnumber }}/detail">{{ selected_part.partnumber }}-->

    <tr data-href="{% url 'detail' part.id %}">
        <td>{{ part.partnumber }}</td>
        <td>{{ part.description }}</td>
        <td>{{ part.location }}</td>
        <td>{{ part.supplier }}</td>
        <td>{{ part.stockonhand }}</td>
    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}